---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import LandingPage  from './LandingPage.svelte';
---

<div id="container">
	<LandingPage client:load="true" />
</div>